
@{
    ViewBag.Title = "Config";
}

<form class="form-inline" action="/Admin/Test" method="post" role="form">
    <div class="form-group field-auto-resize" style="width: 32%;">
        <label for="">Tên bài kiểm tra</label>
        <input class="form-control" type="text" name="TestName" id="FTestName" value="" placeholder="Nhập tên bài kiểm tra" data-required="False" data-number="False" data-email="False">
    </div>
</form>

