@model Web.Models.ChangePasswordModel
@{
    int isChangePass = 0;
}

<div class="tab-pane fade " id="profile-3-3" role="tabpanel" aria-labelledby="tab-3-3">
    <div id="UpdatePanel1">
        <div class="col-12 p-0">
            <form method="post" action="/User/ChangePassword">
                <div class="card-body">
                    @if (isChangePass > 0)
                    {
                    <div class="form-group row" style="border:2px solid #ff0000;padding:10px;">
                        <span style="color:#ff0000; font-weight:bold; font-size:14pt;"><i class="fa fa-bullhorn"></i> Mật khẩu của bạn đã hết hạn. Hãy đổi mật khẩu trước khi truy cập vào hệ thống. Toàn bộ chức năng đã bị khóa.</span>
                    </div>
                    }
                    <div class="form-group row">
                        <label for="CurrentPassword" class="col-6 col-lg-5 col-form-label">Mật khẩu hiện tại</label>
                        <div class="col-6 col-lg-7 d-flex">
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu hiện tại" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NewPassword" class="col-6 col-lg-5 col-form-label">Mật khẩu mới</label>
                        <div class="col-6 col-lg-7 d-flex">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu mới" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NewPasswordRetype" class="col-6 col-lg-5 col-form-label">Nhập lại mật khẩu mới</label>
                        <div class="col-6 col-lg-7 d-flex">
                            @Html.PasswordFor(m => m.RetypeNewPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu mới" })
                        </div>
                    </div>
                    <p class="text-danger"> (*) Mật khẩu phải từ 8 ký tự trở lên (gồm chữ, số, chữ hoa, và ký tự đặc biệt (#$%)) và không có cụm ký tự trùng với họ, tên,tên đệm)</p>
                    <input type="submit" value="Đổi mật khẩu" class="btn btn-success btn-fw" onclick="return validate_changepass();">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function validate_changepass() {
        if ($('#CurrentPassword').val() == '') {
            ShowMessage('danger', 'Thông báo', 'Yêu cầu nhập mật khẩu hiện tại', 500, '');
            $('#CurrentPassword').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            ShowMessage('danger', 'Thông báo', 'Yêu cầu nhập mật khẩu mới', 500, '');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#RetypeNewPassword').val() == '') {
            ShowMessage('danger', 'Thông báo', 'Yêu cầu nhập lại mật khẩu mới', 500, '');
            $('#RetypeNewPassword').focus();
            return false;
        }
        if ($('#NewPassword').val() != $('#RetypeNewPassword').val()) {
            ShowMessage('danger', 'Thông báo', 'Mật khẩu mới không trùng khớp', 500, '');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#CurrentPassword').val() == $('#NewPassword').val()) {
            ShowMessage('danger', 'Thông báo', 'Mật khẩu mới phải khác mật khẩu hiện tại', 500, '');
            $('#NewPassword').focus();
            return false;
        }
        return true;
    }
</script>