@{
    Layout = "";
}
<div>
    <h2>BẠN KHÔNG CÓ QUYỀN TRUY CẬP CHỨC NĂNG. HÃY GỬI YÊU CẦU XIN CẤP QUYỀN VỚI MÃ QUYỀN LÀ : <span style="color:#ff0000;">@ViewBag.PermissionCode</span></h2>
</div>

<div style="text-align:center;">
    <a href="/">QUAY LẠI</a>
</div>
