
@{
    ViewBag.Title = "Index";
}

<h2>OPENDEV.VN CONFIGULATION!</h2>

<div class="panel panel-info">
    <div class="panel-heading">Giới thiệu</div>
    <div class="panel-body">
        <table style="border-style: none; border-width: initial; height: 278px; width: 100%;" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td style="width: 478.8pt; padding: 5pt 5.4pt;" valign="top" width="638">
                        <p class="Default" style="margin-left: 36pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;">-<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong>Xây dựng hệ thống đào tạo nội bộ:</strong></span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Cấu trúc của hệ thống đào tạo&nbsp; nội bộ;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"></span><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Phương pháp xây dựng, thiết kế hệ thống;</p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Các yếu tố cần thiết khi xây dựng hệ thống đào tạo nội bộ đảm bảo thành công.</span></p>
                        <p class="Default" style="margin-left: 36pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;">-<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong>Xây dựng bộ tiêu chuẩn năng lực nhân viên:</strong></span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Cấu phần cơ bản của bộ tiêu chuẩn: Kiến thức – Kỹ năng – Hành vi;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Phương pháp, cách thức xây dựng bộ tiêu chuẩn;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Thiết lập bảng phân bậc nhân viên;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Xây dựng hệ thống đánh giá, xếp hạng nhân viên;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Cách thiết kế bài kiểm tra, ra đề thi nâng bậc nhân viên.</span></p>
                        <p class="Default" style="margin-left: 36pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;">-<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong>Soạn thảo tài liệu đào tạo nội bộ:</strong></span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Lên khung chương trình đào tạo cho toàn thể công ty;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Phân bổ các chương trình tới các bộ phận liên quan;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Hướng dẫn soạn thảo tài liệu đào tạo: văn bản hướng dẫn, quy trình, biểu mẫu đi kèm.</span></p>
                        <p class="Default" style="margin-left: 36pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;">-<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><strong>Huấn luyện giảng viên nội bộ:</strong></span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Các tố chất cần có của giảng viên nội bộ;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Phương pháp thiết kế kịch bản bài giảng;</span></p>
                        <p class="Default" style="margin-left: 72pt; text-align: justify; text-indent: -18pt; line-height: 130%;"><span style="color: #000000;"><span style="font-family: Symbol;">·<span style="font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>Cách triển khai giảng bài và đánh giá kết quả học tập.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer text-center">
        <span>Hệ thống được phát triển trên core system <a href="https://core.opendev.vn" target="_blank" style="font-weight:bold;">OpenDev</a></span>
    </div>
</div>
