@{
    Layout = "";
}

<!------------------------------Start Action Icon & Action Button -------------------------------------->
<button class="btn btn-sm btn-info change-group" data-target="#modalChangeGroup" data-toggle="modal" data-id="@ViewBag.ObjectID">
    <i class="fa fa-exchange"></i> Đổi nhóm
</button>
<!-------------------------------End Action Icon & Action Button --------------------------------------->
