@{
    Layout = "";
}

<!------------------------------Start Action Icon & Action Button -------------------------------------->
<a href="/TestPart/?t=@ViewBag.ObjectID" class="btn btn-info" data-id="@ViewBag.ObjectID">
    <i class="fa fa-cogs"></i> Thiết lập
</a>
<!-------------------------------End Action Icon & Action Button --------------------------------------->
