<!DOCTYPE html>
<html lang="zxx">
<!-- Mirrored from astylers.com/bootstrap-eleco/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Jan 2019 09:52:54 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png">
    <title>Eleco - Mobile Template</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/lightbox.css">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/line-awesome.css">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/line-awesome-font-awesome.css">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/animsition.css">
    <link rel="stylesheet" href="/Content/Templates/ETMobile/css/switcher.css">
    <link rel="alternate stylesheet" type="text/css" href="colors/material-color/style-blue.css" title="material-style-blue" />
    <link rel="stylesheet" type="text/css" href="/Content/Templates/ETMobile/css/style.css" title="default" />
</head>
<body class="animsition">
    <div class="navbar navbar-home">
        <div class="container">
            <div class="content-left">
                <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
            </div>
            <div class="content-center">
                <a href="/Home"><h1>ETRAINING - 2019</h1></a>
            </div>
            <div class="content-right">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="side-overlay"></div>
    <div id="menu" class="panel sidebar" role="navigation">
        <div class="sidebar-header">
            <img src="images/profile.png" alt="">
            <span>John Doe</span>
        </div>
        <ul>
            <li>
                <a href="home-pages.html"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
                <a href="element-list.html"><i class="fa fa-sliders"></i>Elements</a>
            </li>
            <li>
                <a href="pages-list.html"><i class="fa fa-clone"></i>Pages</a>
            </li>
            <li>
                <a href="shop-pages.html"><i class="fa fa-cart-plus"></i>Shop</a>
            </li>
            <li>
                <a href="apps.html"><i class="fa fa-mobile"></i>Apps</a>
            </li>
            <li>
                <a href="blog-pages.html"><i class="fa fa-rss"></i>Blog</a>
            </li>
            <li>
                <a href="main-features.html"><i class="fa fa-support"></i>Featurs</a>
            </li>
        </ul>
    </div>

    <div id="menu2" class="panel sidebar-right" role="navigation">
        <ul class="nav nav-tabs" id="chooseMode" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="light-tab" data-toggle="tab" role="tab" aria-controls="light" aria-selected="true" href="#light" onclick="setActiveStyleSheet('default'); return false;">Light</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dark-tab" data-toggle="tab" role="tab" aria-controls="dark" aria-selected="false" href="#dark" onclick="setActiveStyleSheet('material-style-dark-blue'); return false;">Dark</a>
            </li>
        </ul>
    </div>

    @RenderBody()

    <footer class="footer-home">
        <div class="container-pd">
            <div class="content">
                <h4>Want to get Eleco?</h4>
                <a href="#">Buy Now</a>
            </div>
        </div>
        <div class="by">
            <p>Made with <i class="fa fa-heart"></i> aStylers</p>
        </div>
    </footer>

    <script src="/Content/Templates/ETMobile/js/jquery.min.js"></script>
    <script src="/Content/Templates/ETMobile/js/bootstrap.min.js"></script>
    <script src="/Content/Templates/ETMobile/js/lightbox.js"></script>
    <script src="/Content/Templates/ETMobile/js/animsition.min.js"></script>
    <script src="/Content/Templates/ETMobile/js/animsition-custom.js"></script>
    <script src="/Content/Templates/ETMobile/js/jquery.big-slide.js"></script>
    <script src="/Content/Templates/ETMobile/js/owl.carousel.min.js"></script>
    <script src="/Content/Templates/ETMobile/js/styleswitcher.js"></script>
    <script src="/Content/Templates/ETMobile/js/main.js"></script>
</body>
</html>