.header-navbar .navbar-wrapper .navbar-logo {
	width: 150px;
}
.box-pos {
    margin: -10px;
}
.box-pos-left, .box-pos-right {
    height: calc(100vh - 80px);
}
.box-pos-left {
    box-shadow: 1px 0 3px rgba(0,0,0,.24);
    background: #fff;
    display: flex;
    flex-direction: column;
}
.box-pos-right {
    background-color: #fafafa;
    display: flex;
}
@media(max-width: 992px) {
	.box-pos-left, .box-pos-right {
	    height: calc(100vh - 100px);
	}
}
.pos-order-nav-container {
	display: block;
    /*height: 53px;*/
}
.pos-order-nav-content {
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.pos-order-nav-list {
	flex: 1;
	flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
}
.pos-order-nav-list .active {
    border-bottom: 2px solid #007bff;
    color: #007bff;
    font-weight: 700;
}
.pos-order-nav-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 72px;
    flex: 0 1 72px;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
}
.pos-order-nav-item a {
	padding: 18px 20px;
}
.pos-order-nav-size-tab {
	margin: 5px 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.f-direction-row {
	flex-direction: row;
}
.pos-order-info-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 2;
}
.pos-search-box {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /*height: 40px;*/
}
.rounded-0 {
    border-radius: 0;
}
.large {
    font-size: 150%;
}
.pos-order-list-wrapper {
	display: block;
    overflow-x: hidden;
    overflow-y: auto;
    /*display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;*/
}
.pos-order-list-wrapper .box-pos-order-detail {
	border-bottom: 1px solid rgba(0,0,0,.12);
}
/*.pos-order-list-wrapper .box-pos-order-detail:last-child {
	border-bottom: none;
}*/
.pos-order-list-item {
	flex-direction: row;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 72px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
.pos-order-list-item a {
	color: inherit;
	flex-direction: row;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    flex: 1;
    align-items: center;
}
.pos-order-list-item a {
	width: calc(100% - 110px);
}
.box-pos-order-detail:focus .pos-order-list-item, .box-pos-order-detail:hover .pos-order-list-item {
	background: #e1f5fe;
}
.pos-order-list-item .quantity {
    width: 50px;
    min-width: 50px;
    text-align: center;
    font-size: 180%;
    cursor: pointer;
}
.pos-order-list-item .productname {
    /*max-width: 150px;*/
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
}
.primary-text {
    font-size: 16px;
}
.pos-order-list-item .productname .primary-text {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@media(max-width: 767px) {
	/*.pos-order-list-item .quantity {
		width: 40px;
	    min-width: 40px;
	}*/
}
.pos-order-list-item .price {
    text-align: right;
    padding-left: 10px;
}
.pos-order-list-item .subtotal {
    text-align: right;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.box-pos-order-detail .pos-order-item-container {
	display: block;
    background-color: #ededed;
    padding: 8px;
}
.pos-order-item-content {
	background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    padding: 16px;
}
.mat-button-toggle-group {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    display: inline-flex;
    flex-direction: row;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
.radio-switch-discount {
	white-space: nowrap;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: rgba(0,0,0,.54);
    cursor: pointer;
}
.radio input:checked ~ .radio-switch-discount {
    color: #007bff;
    font-weight: bold;
    background-color: #fff;
}
.width-10x {
	width: 100px;
}
.display-input-quant {
	-moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.box-pos .tab-content>.active {
	display: flex;
	flex-direction: column;
}
.product-item {
	flex: 1 1 100%;
    box-sizing: border-box;
    /*height: 170px;*/
    margin: 0px;
    width: 100%;
    flex-direction: column;
    display: flex;
    place-content: center flex-start;
    align-items: center;
	background: #fff;
}

.product-item:hover {
	box-shadow: 1px 0 3px rgba(0,0,0,.24);
}
.product-item .product-item-img {
	flex: 1 1 120px;
    box-sizing: border-box;
    place-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    max-height: 120px;
    min-height: 120px;
    border: none;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    width: 100%;
}
.img110 {
    max-width: 120px;
    max-height: 120px;
    /*padding: .25rem;*/
    transition: all .2s ease-in-out;
    max-width: 100%;
    height: auto;
}
.product-item .product-item-info {
    width: 100%;
    padding: 0 10px;
    flex: 1 1 100%;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    max-height: 100%;
}
.pos-product-item-text {
	white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
    text-overflow: ellipsis;
}
.overflow-auto {
	overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}