@{
    Layout = "";
}

<div class="wrapper">
    <!-- Replace the src of the image with your logo -->
    <a href="/" class="logo"><img src="~/Content/Templates/ETTemplate/img/opendev.logo.png" alt="OpenDev.VN" /></a>
    <ul class="nav  nav-list">
        <li class="nav-header">Nhân viên</li>
        <li><a href="/Admin/User"><i class="fa fa-circle-o menu-icon-10"></i>Danh sách nhân viên</a></li>
        <li class="nav-header">Thư viện tài liệu</li>
        <li><a href="/Admin/LibraryDocument/AddUpdate"><i class="fa fa-circle-o menu-icon-10"></i>Nhập tài liệu</a></li>
        <li><a href="/Admin/LibraryDocument"><i class="fa fa-circle-o menu-icon-10"></i>Danh mục tài liệu</a></li>
        <li class="nav-header">Chương trình đào tạo</li>
        <li><a href="/Admin/ProgramTrainning/Register"><i class="fa fa-circle-o menu-icon-10"></i>Khởi tạo chương trình</a></li>
        <li><a href="/Admin/ProgramTrainning/Join"><i class="fa fa-circle-o menu-icon-10"></i>Đăng ký tham gia</a></li>
        <li><a href="/Admin/ProgramTrainning"><i class="fa fa-circle-o menu-icon-10"></i>Chương trình đào tạo</a></li>
        <li class="nav-header">Thời khóa biểu</li>
        <li><a href="/Admin/TrainingSchedule"><i class="fa fa-circle-o menu-icon-10"></i>Xem thời khóa biểu</a></li>
        <li class="nav-header">Danh mục</li>
        <li><a href="/Admin/UserGroup"><i class="fa fa-circle-o menu-icon-10"></i>Nhóm thành viên</a></li>
        <li><a href="/Admin/Title"><i class="fa fa-circle-o menu-icon-10"></i>Chức danh</a></li>
        <li><a href="/Admin/Department"><i class="fa fa-circle-o menu-icon-10"></i>Phòng ban</a></li>
        <li><a href="/Admin/Region"><i class="fa fa-circle-o menu-icon-10"></i>Địa điểm</a></li>
        <li><a href="/Admin/SubjectCategory"><i class="fa fa-circle-o menu-icon-10"></i>Chủ đề đào tạo</a></li>
        <li><a href="/Admin/TrainingType"><i class="fa fa-circle-o menu-icon-10"></i>Hình thức đào tạo</a></li>
        <li><a href="/Admin/Ranking"><i class="fa fa-circle-o menu-icon-10"></i>Mức độ đánh giá</a></li>
    </ul>
</div><!-- /Wrapper -->
