<style>
    .showEducateBoxLeft {
        z-index: 70;
        display: none; 
    }
    .showEducateBoxRight {
        z-index: 70;
        display: none; 
    }
</style>
<div>
    <div id="EducateBoxMiddle" class="d-flex justify-content-center">
        <a class="mobile-options displayEducateBoxLeft pointer">
                            
            <i class="ti-comments"></i>
            <span class="badge bg-c-green"></span>
        </a>
        <a class="mobile-options displayEducateBoxRight pointer">
                                    
            <i class="ti-comments"></i>
            <span class="badge bg-c-yellow"></span>
        </a>
    </div>
    <div class="users p-chat-user showEducateBoxLeft" style="right: unset;">
        <div class="had-container">
            <div class="card card_main p-fixed users-main">
                <div id="EducateBoxLeft" class="user-box">
                    <div class="main-friend-list">
                        Box left
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="users p-chat-user showEducateBoxRight" style="border-left: unset;">
        <div class="had-container">
            <div class="card card_main p-fixed users-main">
                <div id="EducateBoxRight" class="user-box">
                    <div class="main-friend-list">
                        Box right
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Content/Templates/GuruTemplate/assets/js/swipe.js"></script>
<script>
    // if (my_val == 'right') {
    //     var options = {
    //         direction: 'left'
    //     };
    // } else {
    //     var options = {
    //         direction: 'right'
    //     };
    // }
    // $('.showChat').toggle('slide', options, 500);
    var showEducateBoxLeft = false;
    var showEducateBoxRight = false;
    $("body").onSwipe(function(results) {
        if (results.right == true) {
            if (showEducateBoxLeft == true) {
                return;
            } else if (showEducateBoxRight == true) {
                // showEducateBoxRight = false;
                toggleBoxRight();
            } else {
                // showEducateBoxLeft = true;
                toggleBoxLeft();
            }
            
        } else if (results.left == true) {
            if (showEducateBoxRight == true) {
                return;
            } else if (showEducateBoxLeft == true) {
                // showEducateBoxLeft = false;
                toggleBoxLeft();
            } else {
                // showEducateBoxRight = true;
                toggleBoxRight();
            }
        }
    });
    $('.displayEducateBoxLeft').on('click', function() {
        toggleBoxLeft();
    });
    $('.displayEducateBoxRight').on('click', function() {
        toggleBoxRight();
    });
    function toggleBoxRight() {
        showEducateBoxRight = !showEducateBoxRight;
        var options = {
            direction: 'right'
        };
        if (window && window.innerWidth && window.innerWidth > 768) {
            if (showEducateBoxRight) {
                $('#EducateBoxMiddle').css('margin-right', 300);
            } else {
                $('#EducateBoxMiddle').css('margin-right', 0);
            }
        }
        $('.showEducateBoxRight').toggle('slide', options, 500);
    }
    function toggleBoxLeft() {
        showEducateBoxLeft = !showEducateBoxLeft;
        var options = {
            direction: 'left'
        };
        if (window && window.innerWidth && window.innerWidth > 768) {
            if (showEducateBoxLeft) {
                $('#EducateBoxMiddle').css('margin-left', 300);
            } else {
                $('#EducateBoxMiddle').css('margin-left', 0);
            }
        }
        $('.showEducateBoxLeft').toggle('slide', options, 500);
    }
</script>