<link rel="stylesheet" href="/Content/Templates/GuruTemplate/bower_components/select2/css/select2.min.css" />
<!-- Multi Select css -->
<link rel="stylesheet" type="text/css" href="/Content/Templates/GuruTemplate/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="/Content/Templates/GuruTemplate/bower_components/multiselect/css/multi-select.css" />
<!-- custom-select.css -->
<link rel="stylesheet" type="text/css" href="/Content/Templates/GuruTemplate/assets/css/custom-select.css">
<div class="row box-pos">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="row">
            <div class="col-md-7 col-lg-6 col-sm-12 pr-md-0 px-0">
                <div class="box-pos-left">
                    <div class="pos-order-nav-container">
                        <div class="pos-order-nav-content">
                            <div class="pos-order-nav-list">
                                <ul class="list-size-order f-direction-row p-0 w-100 nav" id="pills-tab" role="tablist">
                                    <!-- <li class="pos-order-nav-item">
                                        <a class="active show" id="tab-1" data-toggle="pill" href="#pills-tab-1" role="tab" aria-controls="pills-tab-1" aria-selected="true">
                                            #1
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="pos-order-nav-size-tab">
                                <div class="">
                                    <div class="p-l-0">
                                        <div class="input-group mb-0">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-link btn-number-tab shadow-none btn-lg" data-type="minus" disabled data-field="tab-pos">
                                                    <span class="fa fa-minus m-0"></span>
                                                </button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-link btn-number-tab shadow-none btn-lg" data-type="plus" data-field="tab-pos">
                                                    <span class="fa fa-plus m-0"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-1">
                        <div class="col-md-12 h-100">
                            <div class="tab-content d-flex h-100" id="pills-tabContent">
                                <!-- <div class="tab-pane fade show active w-100" id="pills-tab-1" role="tabpanel" aria-labelledby="tab-1">
                                    <div class="accordion pos-order-list-wrapper flex-1" id="accordion-tab-1" role="tablist">
                                    </div>
                                    <div class="row pos-order-info-container">
                                        <div class="col-md-12">
                                            <div class="pos-order-info-wrapper">
                                                <div class="pos-search-box">
                                                    <button type="button" class="btn btn-link btn-number shadow-none btn-sm">
                                                        <span class="fa fa-search m-0"></span>
                                                    </button>
                                                    <div id="divObjectInChargeFollow" class="flex-1">
                                                        <select class="js-data-example-ajax-1 col-sm-12" id="ObjectInChargeFollow" placehoder></select>
                                                    </div>
                                                    <button type="button" class="btn btn-link btn-number shadow-none btn-sm">
                                                        <span class="fa fa-user-plus m-0"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="d-flex f-direction-row">
                                                <button type="button" class="btn btn-primary btn-block rounded-0 p-4" id="btn_pos_create">
                                                    <div class="row">
                                                        <div class="col-6 bold text-left mt-1">
                                                            Thanh toán
                                                        </div>
                                                        <div class="col-6 text-right" style="flex-direction: column; align-items: flex-end;">
                                                            <span class="total-price-tab large"></span>
                                                        </div>
                                                    </div>
                                                </button>
                                                <button type="button" class="btn btn-warning rounded-0">
                                                    <i class="fa fa-angle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="modal fade" id="exampleModal-tab-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-tab-1" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-md" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel-tab-1">Chi tiết đơn hàng</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body pt-0 pb-0"><div class="row mt-2"><div class="col-md-12 mb-2">         </div></div></div><div class="modal-footer"><button onclick="ThanhToan(1)" type="button" class="btn btn-primary btn-sm">Lưu</button></div></div></div></div> -->
                                <div class="modal fade show" id="exampleModal-tab-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-tab-1" style="display: block;" aria-hidden="true">
                                    <div class="modal-dialog modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel-tab-1">
                                                Chi tiết đơn hàng</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body pt-0 pb-0">
                                                <div class="row mt-2">
                                                    <div class="col-md-12 mb-2">
                                                        <div class="form-group row m-1">
                                                            <label class="col-sm-5 col-form-label">Nhân viên bán hàng</label>
                                                            <div class="col-sm-7 d-flex p-0">
                                                                <input type="text" class="form-control text-right" id="cashierName-tab-1" name="cashierName-tab-1" value="Vũ Thanh Bình" placeholder="Nhân viên bán hàng">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-1">
                                                            <label class="col-sm-5 col-form-label">Ngày bán</label>
                                                            <div class="col-sm-7 d-flex p-0">
                                                                <div class="form-group mb-0 w-100">
                                                                    <div class="input-group date mb-0" id="datetimepicker">
                                                                        <input id="daysale-tab-1" name="daysale-tab-1" class="form-control text-right datepicker" value="10:20 11/03/2019" type="text" placeholder="Giờ">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-1">
                                                            <label class="col-sm-5 col-form-label">Ghi chú</label>
                                                            <div class="col-sm-7 d-flex p-0">
                                                                <input type="text" class="form-control text-right" id="note-tab-1" name="note-tab-1" value="" placeholder="Ghi chú">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-1">
                                                            <label class="col-sm-5 col-form-label">Tiền hàng</label>
                                                            <div class="col-sm-7 d-flex align-items-center justify-content-end p-0 text-right">
                                                                10,000,000 vnđ
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-1">
                                                            <label class="col-sm-5 col-form-label">Giảm giá</label>
                                                            <div class="col-sm-7 d-flex p-0">
                                                                <input type="text" class="form-control text-right" id="discount-tab-1" name="discount-tab-1" value="" placeholder="Giảm giá">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-1">
                                                            <label class="col-sm-5 col-form-label">Thanh toán</label>
                                                            <div class="col-sm-7 d-flex align-items-center justify-content-end font-weight-bold p-0 text-right">
                                                                10,000,000 vnđ
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-1">
                                                            <label class="col-sm-5 col-form-label">Khách đưa</label>
                                                            <div class="col-sm-7 d-flex p-0">
                                                                <input type="text" class="form-control text-right" id="user-dua-tab-1" name="user-dua-tab-1" value="" placeholder="Khách đưa">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button onclick="ThanhToan(1)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Thanh Toán</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-6 hidden-xs">
                <div class="row box-pos-right">
                    <div class="d-flex flex-column h-100">
                        <div class="col-12 flex-1 h-100">
                            <div id="listProductItem" class="row px-1 pt-2 overflow-auto pb-0 mh-100">
                                
                            </div>
                        </div>
                        <div class="justify-content-end">
                            phân trang
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .select2-container--default .select2-selection--single {
        /*border-top: none;
    border-bottom: none;*/
        border: none;
    }
</style>
<!-- slick js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/slick-carousel/js/slick.min.js"></script>
<!-- Select 2 js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/select2/js/select2.full.min.js"></script>
<!-- Multiselect js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js">


</script>
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="/Content/Templates/GuruTemplate/assets/pages/advance-elements/select2-custom.js"></script>
<!-- product detail js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/assets/pages/pos/pos.js"></script>
<script>
    // remove child
    Element.prototype.remove = function () {
        this.parentElement.removeChild(this);
    }
    NodeList.prototype.remove = HTMLCollection.prototype.remove = function () {
        for (var i = this.length - 1; i >= 0; i--) {
            if (this[i] && this[i].parentElement) {
                this[i].parentElement.removeChild(this[i]);
            }
        }
    }
    
</script>