<div class="row box-pos">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-12 pr-md-0 px-sm-0">
                <div class=" box-pos-left">
                    search
                </div>
            </div>
            <div class="col-md-6 col-lg-8 hidden-xs pl-md-0">
                <div class="box-pos-right">
                    search
                </div>
            </div>
        </div>
    </div>
</div>