<link rel="stylesheet" href="/Content/Templates/GuruTemplate/bower_components/select2/css/select2.min.css" />
<!-- Multi Select css -->
<link rel="stylesheet" type="text/css" href="/Content/Templates/GuruTemplate/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="/Content/Templates/GuruTemplate/bower_components/multiselect/css/multi-select.css" />
<!-- custom-select.css -->
<link rel="stylesheet" type="text/css" href="/Content/Templates/GuruTemplate/assets/css/custom-select.css">
<div class="row box-pos">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="row">
            <div class="col-md-7 col-lg-6 col-sm-12 pr-md-0 px-0">
                <div class="box-pos-left">
                    <div class="pos-order-nav-container">
                        <div class="pos-order-nav-content">
                            <div class="pos-order-nav-list">
                                <ul class="list-size-order f-direction-row p-0 w-100 nav" id="pills-tab" role="tablist">
                                    <li class="pos-order-nav-item">
                                        <a class="active show" id="tab-order-1" data-toggle="pill" href="#pills-order-1" role="tab" aria-controls="pills-order-1" aria-selected="true">
                                            #1
                                            <i class="fa fa-bookmark" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Đã có sản phẩm"></i>
                                        </a>
                                    </li>
                                    <li class="pos-order-nav-item">
                                        <a class="" id="tab-order-2" data-toggle="pill" href="#pills-order-2" role="tab" aria-controls="pills-order-2" aria-selected="true">
                                            #2
                                            <i class="fa fa-bookmark" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Đã có sản phẩm"></i>
                                        </a>
                                    </li>
                                    <li class="pos-order-nav-item">
                                        <a class="" id="tab-order-3" data-toggle="pill" href="#pills-order-3" role="tab" aria-controls="pills-order-3" aria-selected="true">
                                            #3
                                            <i class="fa fa-bookmark" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Đã có sản phẩm"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pos-order-nav-size-tab">
                                <div class="">
                                    <div class="p-l-0">
                                        <div class="input-group mb-0">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-link btn-number-tab shadow-none btn-lg" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                    <span class="fa fa-minus m-0"></span>
                                                </button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-link btn-number-tab shadow-none btn-lg" data-type="plus" data-field="quant[1]">
                                                    <span class="fa fa-plus m-0"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pos-order-info-list flex-1">
                        <div class="col-md-12">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-order-1" role="tabpanel" aria-labelledby="tab-order-1">
                                    <div class="accordion pos-order-list-wrapper" id="accordion" role="tablist">
                                        <div class="box-pos-order-detail">
                                            <div class="pos-order-list-item" role="tab" id="heading-1">
                                                <div class="d-flex mb-0 w-100 align-items-center">
                                                    <div class="quantity">
                                                        1
                                                    </div>
                                                    <a class="collapsed" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                                        <div class="productname">
                                                            <span class="primary-text">SAMSUNG GALAXY S9 PLUS 128GB ĐEN Xanh </span>
                                                            <span class="second-text hidden-xs">SP000053</span>
                                                            <span class="second-text visible-xs">× 10,990,000</span>
                                                            <!-- <div style="flex-direction: row; box-sizing: border-box; display: flex;">
                                                                <span>x 10,990,000</span>
                                                            </div> -->
                                                        </div>
                                                        <div class="price hidden-xs">
                                                            <span>10,990,000</span>
                                                        </div>
                                                        <div class="subtotal">
                                                            <span class="second-text visible-xs">SP000053</span>
                                                            <span class="font-weight-bold">13,490,000</span>
                                                        </div>
                                                    </a>
                                                    <div class="">
                                                        <button type="button" class="btn btn-link p-3">
                                                            <span class="fa fa-times" style=""></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapse-1" class="collapse" role="tabpanel" aria-labelledby="heading-1" data-parent="#accordion">
                                                <div class="pos-order-item-container">
                                                    <div class="pos-order-item-content">
                                                        <div class="input-group mb-0">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-link btn-number shadow-none btn-lg" disabled="disabled" data-type="minus" data-field="quant-tab-1-item-1">
                                                                    <span class="fa fa-minus m-0"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="quant-tab-1-item-1" class="form-control input-number text-center" value="1">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-link btn-number shadow-none btn-lg" data-type="plus" data-field="quant-tab-1-item-1">
                                                                    <span class="fa fa-plus m-0"></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="">
                                            <div class="" role="tab" id="heading-2">
                                                <div class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                        Làm thế nào để đưa tài liệu lên hệ thống?
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                                                <div class="">
                                                    Tài liệu hệ thống được phân mục theo loại và phòng ban của tài liêu, bạn thực hiện đưa tài liệu theo hướng dẫn <a href="/FRTNotification/Notification/Detail?encryptId=3GXSqgbbEwOhlE/OIq3+IQ==">Tại đây</a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-order-2" role="tabpanel" aria-labelledby="tab-order-2">
                                    2
                                </div>
                                <div class="tab-pane fade" id="pills-order-3" role="tabpanel" aria-labelledby="tab-order-3">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pos-order-info-container">
                        <div class="col-md-12">
                            <div class="pos-order-info-wrapper">
                                <div class="pos-search-box">
                                    <button type="button" class="btn btn-link btn-number shadow-none btn-sm">
                                        <span class="fa fa-search m-0"></span>
                                    </button>
                                    <div id="divObjectInChargeFollow" class="flex-1">
                                        <select class="js-data-example-ajax-1 col-sm-12" id="ObjectInChargeFollow" placehoder></select>
                                    </div>
                                    <button type="button" class="btn btn-link btn-number shadow-none btn-sm">
                                        <span class="fa fa-user-plus m-0"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex f-direction-row">
                                <button type="button" class="btn btn-primary btn-block rounded-0 p-4" id="btn_pos_create">
                                    <div class="row">
                                        <div class="col-6 bold text-left mt-1">
                                            Thanh toán (F9)
                                        </div>
                                        <div class="col-6 text-right" style="flex-direction: column; align-items: flex-end;">
                                            <span class="large">24,480,000</span>
                                            <!---->
                                        </div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-warning rounded-0">
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-6 hidden-xs pl-md-0 px-0">
                <div class="box-pos-right">
                    search
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .select2-container--default .select2-selection--single {
        /*border-top: none;
    border-bottom: none;*/
        border: none;
    }
</style>
<!-- slick js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/slick-carousel/js/slick.min.js"></script>
<!-- Select 2 js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/select2/js/select2.full.min.js"></script>
<!-- Multiselect js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js">


</script>
<script type="text/javascript" src="/Content/Templates/GuruTemplate/bower_components/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="/Content/Templates/GuruTemplate/assets/pages/advance-elements/select2-custom.js"></script>
<!-- product detail js -->
<script type="text/javascript" src="/Content/Templates/GuruTemplate/assets/pages/product-detail/product-detail.js"></script>
<script>
    $(document).ready(function () {
        // remove child
        Element.prototype.remove = function () {
            this.parentElement.removeChild(this);
        }
        NodeList.prototype.remove = HTMLCollection.prototype.remove = function () {
            for (var i = this.length - 1; i >= 0; i--) {
                if (this[i] && this[i].parentElement) {
                    this[i].parentElement.removeChild(this[i]);
                }
            }
        }
        var i = $(".list-size-order li").length + 1;
        if (i > 1) {
            $(".btn-number-tab[data-type='minus'][data-field='quant[1]']").removeAttr('disabled')
        }
        $('.btn-number-tab').on('click', function (e) {
            e.preventDefault();
            var fieldName = $(this).attr('data-field');
            var type = $(this).attr('data-type');
            var lengthTab = $(".list-size-order li").length;
            // tab-order-1
            var currentNameTab = $("#pills-tab li .active").attr('id');
            var currentIdTab = currentNameTab.substr(10, currentNameTab.length);
            var lastNameTab = $("#pills-tab li:last-child a").attr('id')
            var lastIdTab = lastNameTab.substr(10, currentNameTab.length);
            if (type == 'minus') {
                var minValue = 1;
                if (lengthTab > minValue) {
                    // check div has bookmark
                    if ($('#' + $(".list-size-order li .active").attr('id') + ' i').length == 0) {
                        $("#tab-order-" + currentIdTab).parent().remove();
                        $("#pills-order-" + currentIdTab).remove();
                        $(".list-size-order li:last-child a").addClass('active show');
                        $("#pills-tabContent .tab-pane:last-child").addClass('active show');
                    } else {
                        notify('top', 'right', '', 'warning', 'animated fadeInLeft', 'animated fadeOutLeft', 'Thông báo', 'Vui lòng xóa hết danh sách hàng trước khi xóa đơn hàng');
                    }
                }
                if ($(".list-size-order li").length == minValue) {
                    $(this).attr('disabled', true);
                }

            } else if (type == 'plus') {
                var maxValue = 9999999999999;
                if (lengthTab < maxValue) {
                    var add_size_order_tab = $('<li class="pos-order-nav-item"><a class="" id="tab-order-' + i + '" data-toggle="pill" href="#pills-order-' + i + '" role="tab" aria-controls="pills-order-' + i + '" aria-selected="false">#' + (lengthTab + 1) + '</a></li>');
                    $(add_size_order_tab).appendTo(".list-size-order").hide().fadeIn(300);

                    var add_size_order_tab_content = $('<div class="tab-pane fade" id="pills-order-' + i + '" role="tabpanel" aria-labelledby="tab-order-' + i + '"">' + (lengthTab + 1) + '</div>');
                    $(add_size_order_tab_content).appendTo(".tab-content");
                    $(".btn-number-tab[data-type='minus'][data-field='" + fieldName + "']").removeAttr('disabled')
                    i++;
                }
                if ($(".list-size-order li").length == maxValue) {
                    $(this).attr('disabled', true);
                }
            }
            // change text div
            var j = 1;
            var add = '';
            $("#pills-tab li a").each(function () {
                if ($('#' + $(this).attr('id') + ' i')) {
                    add = $('#' + $(this).attr('id') + ' i');
                }
                $(this).html('#' + j + ' ' + (add.prop('outerHTML') ? add.prop('outerHTML') : ''));
                j++;
                add = '';
            });
        });
    });
    $(".js-data-example-ajax-1").select2({
        placeholder: "Nhập tên khách hàng, Số điện thoại",
        ajax: {
            url: "/TaskList/Home/LoadObjectInChargeType",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    ItemCode_KeySeach: params.term, // search term
                    itemCode: 'PERSON'
                };
            },
            processResults: function (data, params) {
                var formatData = $.map(data, function (obj) {
                    obj.id = obj.Code;
                    obj.text = obj.Name;
                    return obj;
                });
                return {
                    results: formatData,
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) {
            return markup;
        }, // let our custom formatter work
        minimumInputLength: 2,
    });
</script>